/*-----------------------------------*\
  #POPUP WINDOW
\*-----------------------------------*/

.popup {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.35s ease, transform 0.35s ease;
}

.window-popup {
  width: 300px;
  height: 25vh;
}

.window .title-bar {
  height: 25px;
}

.window .title-bar-text {
  letter-spacing: 2px;
  font-weight: 600;
}

.window .window-body { 
  text-align: center; 
  margin: 20px;
  font-size: 13px;
  color: black;
} 

.window-popup .window-body p { 
  margin-bottom: 1.5rem; 
  display: flex;
  gap: 5px;
  align-items: center;
  text-align: justify;
}

.window-icon img { width: 3rem; }

.window-popup .window-body button { margin-right: 0.5rem; }

/*-----------------------------------*\
  #LOADING SCREEN
\*-----------------------------------*/

/*-----------------------------------*\
  #PORTFOLIO PAGE
\*-----------------------------------*/
.buttons.toggle { display: none; }

.portfolio-page {
  width: 100%;
  /* max-width: 45rem; */
  height: 45vh;
  /* margin-inline: 1rem; */
}

.portfolio-page.window {
  box-shadow: none;
  background: none;
}

.intro-text > h3 { font-size: 1.5rem; }

.portfolio-page .title-bar { background: none; }

.portfolio-page .title-bar .title-bar-text { display: none; }

.main-content {
  display: grid;
  grid-template-columns: repeat(3, 0.9fr);
  row-gap: 1rem;
  column-gap: 1.5rem;
  grid-template-rows: 13vh 13vh;
  margin-top: 2rem;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main-content .buttons {
  min-height: 2rem;
  min-width: 3rem;
  padding-block: 0.5rem;
  margin: 0;
  border-radius: 0.5rem;
}

.main-content .buttons p {
  color: white;
  letter-spacing: 2px;
}

.main-content .buttons img { 
  width: 40px;
  height: 40px;
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

footer {
  position: fixed;
  bottom: 5px;
  left: 0;
  right: 0;
  text-align: center;
}

.footer-text {
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

@media screen and (min-width: 600px) {
  .buttons.toggle { 
    display: block; 
    background: none;
    box-shadow: none;
    margin-bottom: 0.5rem;
    margin-left: -1rem;
  }

  .portfolio-page.window {
    background: silver;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
    width: 35rem;
  }

  .portfolio-page .title-bar { background: linear-gradient(90deg, navy, #1084d0); }

  .portfolio-page .title-bar .title-bar-text { display: block; }

  .main-content {
    grid-template-columns: repeat(5, 3rem);
    grid-template-rows: 14vh;
    position: fixed;
    bottom: 3rem;
    right: 0;
    left: 0;
    row-gap: 0;
    column-gap: 3rem;
    justify-content: center;
  }

  .main-content .btn-container p { letter-spacing: 1px; }

  /* .main-content .buttons {
    box-shadow: none;
    background: none;
  } */

  .btn-container.toggle { display: none; }

  .main-content .buttons img {
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 1000px) {
  .window-popup { height: 22vh; }

  .portfolio-page { height: 40vh; }

}