/*-----------------------------------*\
  #PORTFOLIO PAGE
\*-----------------------------------*/

.portfolio-page {
  /* background-image: url(/src/assets/images/portfolio_background_mobile.jpg); */
  background-image: url(./assets/images/portfolio_background_desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-page .window {
  width: 35rem;
  height: 55vh;
}


/* @media screen and (min-width: 1000px) {
  .start_up-window {
    background-image: url(./assets/images/startup-window_background-image_dekstop.jpg);
    background-size: cover;
  }

  .container .window.glass {
    width: 14rem;
  }

  .portfolio-page { background-size: 100%; }

} */