@tailwind base;
@tailwind components;
@tailwind utilities;

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --orange: rgb(224, 93, 31);
  --light-blue: rgb(113, 138, 240);
  --dark-blue: rgb(34, 53, 199);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .loader {
  display: inline-block;
  height: 100%;
  width: 9px;
  margin-right: 2px;
  border-radius: 2px;
  background: linear-gradient(
    to bottom,
    #2838c7 0%,
    #5979ef 17%,
    #869ef3 32%,
    #869ef3 45%,
    #5979ef 59%,
    #2838c7 100%
  );
  animation: loader 1.5s linear infinite;
} */

/* .loading {
  width: 9px;
  height: 100%;
  display: inline-block;
  border-radius: 2px;
  margin-right: 2px;
  background: linear-gradient(to bottom, #2838c7 0%, #5979ef 17%, #869ef3 32%, #869ef3 45%, #5979ef 59%, #2838c7 100%);
  animation: loader;
  animation-delay: 0ms;
} */

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent, #bad7f8, transparent, transparent);
}

.container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent, #f8953d, transparent, transparent);
}