/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  --window-width: clamp(40rem, calc(50vw + 5rem), 50rem);
  --window-height: clamp(25rem, calc(50vh + 5rem), 35rem);
  --title-size: clamp(3.5rem, calc(10vw + 1rem), 5rem);
  --icon-button-width: clamp(45px, calc(4vw + 10px), 78px);
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8); 
    opacity: 0;
  }
  100% {
    transform: scale(1); 
    opacity: 1;
  }
}

.transtion {
  animation: zoomIn 0.5s forwards ease-out; 
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { scroll-behavior: smooth; }

html,
body {
  overflow: hidden;
  color: black;
  /* background: rgb(11, 135, 133); */
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/
