/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

@keyframes zoomIn {
  0% {
    transform: scale(0.8); 
    opacity: 0;
  }
  100% {
    transform: scale(1); 
    opacity: 1;
  }
}

.transtion {
  animation: zoomIn 0.5s forwards ease-out; 
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { scroll-behavior: smooth; }

html,
body {
  overflow: hidden;
  color: black;
  /* background: rgb(11, 135, 133); */
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.title-bar-text {
  font-weight: 500;
  letter-spacing: 1px;
}

.start-program p {
  color: white;
}

/*-----------------------------------*\
  #START UP WINDOW
\*-----------------------------------*/

.start_up-window {
  background-image: url(/src/assets/images/startup-window_background-image_dekstop.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.start_up-window {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .window.glass {
  width: 13rem;
  margin: 0 auto;
  padding: 0.75rem;
  height: 12rem;
  border: none;
}

.container .window.glass img {
  width: 100%;
  height: 100%;
}

.popup-btns { margin-top: 2rem; }

.popup-btns button { margin-left: 1rem; }

.loader.animate { 
  margin: 1rem auto; 
  display: flex;
  align-items: center;
  justify-self: center;
}

/*-----------------------------------*\
  #WINDOW MANAGER
\*-----------------------------------*/

.window-layer {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 1000;
}

.window-layer .window {
  pointer-events: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

